# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
from pprint import pprint

!pip install stormpath
!pip install gmaps

# Import API key
from api_key import g_key
#api_keys = "AIzaSyAcGi4JhY2DZ8mRUxSHLX8w5m0cfLGoCBU"
#gmaps.configure(api_key = g_key)

Requirement already satisfied: stormpath in c:\users\besat\anaconda3\lib\site-packages (2.5.5)
Requirement already satisfied: oauthlib<=1.0.3 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (1.0.3)
Requirement already satisfied: pydispatcher>=2.0.5 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (2.0.5)
Requirement already satisfied: PyJWT>=1.0.0 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (2.0.1)
Requirement already satisfied: requests>=2.4.3 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (2.24.0)
Requirement already satisfied: python-dateutil>=2.4.0 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (2.8.1)
Requirement already satisfied: six>=1.6.1 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (1.15.0)
Requirement already satisfied: isodate>=0.5.4 in c:\users\besat\anaconda3\lib\site-packages (from stormpath) (0.6.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\besat\anaconda3\lib\site-packages (from requests>=2.4.3->stormpath) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\besat\anaconda3\lib\site-packages (from requests>=2.4.3->stormpath) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\besat\anaconda3\lib\site-packages (from requests>=2.4.3->stormpath) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\besat\anaconda3\lib\site-packages (from requests>=2.4.3->stormpath) (3.0.4)
Requirement already satisfied: gmaps in c:\users\besat\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\besat\anaconda3\lib\site-packages (from gmaps) (7.16.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\besat\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: six in c:\users\besat\anaconda3\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\besat\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\besat\anaconda3\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: decorator in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: backcall in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: jedi>=0.10 in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pickleshare in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pygments in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\besat\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\besat\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\besat\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\besat\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: ipython-genutils in c:\users\besat\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\besat\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\besat\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\besat\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-core in c:\users\besat\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\besat\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-client in c:\users\besat\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\besat\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: Send2Trash in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: nbconvert in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: pyzmq>=17 in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: jinja2 in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: prometheus-client in c:\users\besat\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\besat\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\besat\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\besat\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\besat\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: bleach in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: defusedxml in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: testpath in c:\users\besat\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\besat\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in c:\users\besat\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\besat\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\besat\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

ModuleNotFoundError: No module named 'api_key'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,29.32,87,100,1.01,US,1612287985
1,1,Bahir Dar,11.5936,37.3908,71.58,32,25,4.76,ET,1612288271
2,2,Al Bardīyah,31.7561,25.0865,59.90,77,100,9.48,LY,1612288271
3,3,Yellowknife,62.4560,-114.3525,-13.00,70,90,17.27,CA,1612288271
4,4,Rørvik,64.8621,11.2373,19.40,79,20,6.91,NO,1612288272
...,...,...,...,...,...,...,...,...,...,...
563,563,Rolla,37.9514,-91.7713,31.62,74,90,4.45,US,1612288437
564,564,Todos Santos,23.4500,-110.2167,71.01,72,59,3.00,MX,1612288437
565,565,Jejūri,18.2833,74.1667,70.32,23,0,8.21,IN,1612288438
566,566,Mirante do Paranapanema,-22.2919,-51.9064,86.77,61,33,5.48,BR,1612288438
567,567,Nantucket,41.2835,-70.0995,41.95,100,90,14.97,US,1612288270

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
weather_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,29.32,87,100,1.01,US,1612287985
1,1,Bahir Dar,11.5936,37.3908,71.58,32,25,4.76,ET,1612288271
2,2,Al Bardīyah,31.7561,25.0865,59.90,77,100,9.48,LY,1612288271
3,3,Yellowknife,62.4560,-114.3525,-13.00,70,90,17.27,CA,1612288271
4,4,Rørvik,64.8621,11.2373,19.40,79,20,6.91,NO,1612288272

In [12]:
# Configure gmaps
gmaps.configure(api_key = "AIzaSyAcGi4JhY2DZ8mRUxSHLX8w5m0cfLGoCBU")

#g_keys = "AIzaSyAcGi4JhY2DZ8mRUxSHLX8w5m0cfLGoCBU"
# Store latitude and longitude in locations

locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [11]:
# Plot Heatmap

fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Port Alfred,-33.5906,26.8910,70.00,87,0,5.99,ZA,1612288032
35,35,Hermanus,-34.4187,19.2345,77.00,53,0,1.99,ZA,1612288279
48,48,Bredasdorp,-34.5322,20.0403,73.40,53,0,5.75,ZA,1612288282
61,61,Salalah,17.0151,54.0924,75.20,53,0,1.14,OM,1612288286
204,204,Kruisfontein,-34.0033,24.7314,73.99,69,0,4.00,ZA,1612288328
247,247,Safaga,26.7292,33.9365,73.40,68,0,3.44,EG,1612288341
253,253,Trat,12.5000,102.5000,72.81,84,0,1.83,TH,1612288343
263,263,Coyhaique,-45.5752,-72.0662,71.60,49,0,3.44,CL,1612288345
298,298,Verāval,20.9000,70.3667,73.94,54,0,8.19,IN,1612288354
317,317,Makkah al Mukarramah,21.4267,39.8261,76.33,70,0,6.44,SA,1612288359
360,360,Kidal,18.4411,1.4078,77.41,16,0,7.70,ML,1612288370
431,431,Nakhon Thai,17.1006,100.8374,73.90,46,0,2.95,TH,1612288391
447,447,Kantang,7.4054,99.5156,74.44,88,0,4.45,TH,1612288396
458,458,Tay Ninh,11.3000,106.1000,73.53,75,0,1.50,VN,1612288399
502,502,Lima,-12.0432,-77.0282,76.35,61,0,8.05,PE,1612288321
565,565,Jejūri,18.2833,74.1667,70.32,23,0,8.21,IN,1612288438

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                     City Country      Lat       Lng Hotel Name
6             Port Alfred      ZA -33.5906   26.8910
35               Hermanus      ZA -34.4187   19.2345
48             Bredasdorp      ZA -34.5322   20.0403
61                Salalah      OM  17.0151   54.0924
204          Kruisfontein      ZA -34.0033   24.7314
247                Safaga      EG  26.7292   33.9365
253                  Trat      TH  12.5000  102.5000
263             Coyhaique      CL -45.5752  -72.0662
298               Verāval      IN  20.9000   70.3667
317  Makkah al Mukarramah      SA  21.4267   39.8261
360                 Kidal      ML  18.4411    1.4078
431           Nakhon Thai      TH  17.1006  100.8374
447               Kantang      TH   7.4054   99.5156
458              Tay Ninh      VN  11.3000  106.1000
502                  Lima      PE -12.0432  -77.0282
565                Jejūri      IN  18.2833   74.1667

In [16]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

NameError: name 'g_key' is not defined

In [21]:
params = hotel_d["Location"]
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

NameError: name 'params' is not defined

In [18]:
# Display the hotel dataframe
hotel_df

                     City Country      Lat       Lng Hotel Name
6             Port Alfred      ZA -33.5906   26.8910
35               Hermanus      ZA -34.4187   19.2345
48             Bredasdorp      ZA -34.5322   20.0403
61                Salalah      OM  17.0151   54.0924
204          Kruisfontein      ZA -34.0033   24.7314
247                Safaga      EG  26.7292   33.9365
253                  Trat      TH  12.5000  102.5000
263             Coyhaique      CL -45.5752  -72.0662
298               Verāval      IN  20.9000   70.3667
317  Makkah al Mukarramah      SA  21.4267   39.8261
360                 Kidal      ML  18.4411    1.4078
431           Nakhon Thai      TH  17.1006  100.8374
447               Kantang      TH   7.4054   99.5156
458              Tay Ninh      VN  11.3000  106.1000
502                  Lima      PE -12.0432  -77.0282
565                Jejūri      IN  18.2833   74.1667

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))